@use "../../styles/variables" as *;

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
 .intro {
  font-size: 1.7rem;
  color: $color-white;
 }

 .link {
  font-size: 1.2rem;
  color: $color-white;
 }

 .values {
  color: $color-white;
 }
  
  .logo {
    height: 1.7em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    background-color: $color-white;
  
   
  }
  
  .spin {
    @media (prefers-reduced-motion: no-preference){
    animation: logo-spin-3d infinite 10s linear;}
  }
  
  .values {
    margin-top: 4rem;
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes logo-spin-3d {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
 