.organisation-page-container {
    position: relative;
    z-index: 1; 
    min-height: 100vh; 
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: center; 

  }
  
  .organisation-info {
    flex: 2.3; 
  }
  
  .ratings-container {
    flex: 1; 
    margin-top: 1.5rem;
    width: 20rem;
  }
