.organisation-page-container {
    position: relative;
    z-index: 1; 
    min-height: 100vh; 
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    align-items: flex-start; /* Adjust alignment */
    gap: 2rem; // Space between the organisation info and the carousel
  }
  
  .organisation-info {
    flex: 2.3; 
  }
  
  .ratings-container {
    flex: 1; 
    margin-top: 1.5rem;
  }
