@use "../../styles/variables" as *;

.page-container--about {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 2rem; 
}

.about-content {
 color: $color-white;

  &__overview {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  &__table {
    display: flex;
    justify-content: center;
  }

  &__list {
    list-style: none; 
    padding: 0; 
  }

  &__item {
    margin-bottom: 0.5rem;
    font-size: 1.3rem; 
  }

  &__info{
    font-size: 1.2rem;
  }
}


.total-org-count {
  font-family: "Major Mono Display";
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.about__raven-logo {
  position: absolute;
  top: 15%;
  left: 2%; 
  background: url('../../assets/raven.png') no-repeat center center;
  background-size: 80%; 
  width: 30rem;
  height: 30rem;
  opacity: 0.5; 
  z-index: 1;
}