@use "../../styles/variables"as *;

.search-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 2rem;
  

  .search-box__label {
    font-size: 1.25rem;
    margin-right: 2rem;
    color: $color-white;
    font-family: major mono display;
  }

  .search-box__dropdown {
    margin: 1rem 0;
    padding: 0.3rem;
    font-size: 1rem;
    border: 0.313rem $color-navy solid;
    border-radius: 0.5rem;
    color: $color-navy;
    width:18rem;

    &:focus {
      border: 0.313rem $color-navy solid;
      outline: none;
    }
  }
}

