.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    &--left {
      position: absolute;
      left: 0;
    }

    &--right {
      position: absolute;
      right: 0;
    }
  }

  // &__content {
  //   //max-width: 800px; // Adjust as needed
  //   //text-align: center;
  //   //margin: 0 2rem; // Space for arrows
  // }

  // p {
  //   font-size: 1.2rem;
  //   color: navy;
  // }
}