.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__arrow {
     background: none;
    border: none;
     cursor: pointer;
     
    
    // &--left {
    //   position: absolute;
    //   left:0 ;
    // }

    // &--right {
    //   position: absolute;
    //   right: 0;
    //   margin-left: 3rem;
    // }
  }


}