@use "../../styles/variables" as *;

.organisation-card {
  display: flex;
  flex-direction: column;
  width: 22rem; // Increased width to accommodate side-by-side layout
  padding: 1rem;
  box-shadow: 0 0.325rem 0.3rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid $color-navy-light;
  border-radius: 0.5rem;
  background-color: $color-navy;
  margin: 0.8rem;

  .organisation-card__content {
    width: 100%;
    text-align: left;

    .organisation-card__header {
      display: flex;
      align-items: center;
      justify-content: space-between; // Ensures name and logo are spaced out
      margin-bottom: 1rem;

      .organisation-card__name {
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-white;
      }

      .organisation-card__image-container {
        width: 3rem; // Small size for the container
        height: 3rem; // Small size for the container
        display: flex;
        align-items: center;
        justify-content: center;

        .organisation-card__image {
          width: 100%; // Ensure the image fits within the container
          height: 100%; // Ensure the image fits within the container
          object-fit: contain;
          border-radius: 20%;
          border: 0.1rem solid $color-white;
        }
      }
    }

    .organisation-card__abrv-info {
      font-size: 0.9rem;
      font-weight: 500;
      color: $color-white;
      margin-bottom: 0.5rem;
    }

    .organisation-card__details {
      font-size: 0.8rem;
      color: $color-white;
    }
  }
}