@use "../../styles/variables" as *;

.ratings-form {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid $color-white;
    border-radius: 0.6rem;
    background-color: $color-navy;
    color: $color-white;
  
    &__group {
      margin-bottom: 0.7rem;
  
      &-label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 1rem;
  
        &--large-margin {
          margin-bottom: 1.7rem;
          margin-top: 0.7rem; 
          font-size: 1.1rem;
        }
      }
  
      &-input {
        width: 100%;
        padding: 0.7rem;
        border: 0.1rem solid #ccc;
        border-radius: 0.1rem;
        color: $color-white; // Adjust color if necessary
        background-color: $color-navy; // Adjust background color if necessary
        font-family: 'Major Mono Display'; // Adjust font family if necessary
        font-size: 1rem; // Adjust font size if necessary
      }
    }
  
    &__button {
      align-self: flex-end;
      padding: 0.7rem 1.2rem;
      border: none;
      border-radius: 0.7rem;
      background-color: $color-navy-light;
      color: $color-white;
      font-family: 'Major Mono Display'; // Adjust font family if necessary
      font-size: 1rem; // Adjust font size if necessary
      cursor: pointer;
  
      &:hover {
        background-color: $color-navy-light;
      }
    }
  }