@use "../../styles/variables" as *;

.organisations {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 1.2rem;

  .organisations__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-height: 200px; 
  }

  .organisations__content a {
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s;
    color: $color-navy; 
  }

  .organisations__content a:hover {
    transform: scale(1.05);
  }

  .no-results {
    font-size: 1.2rem;
    color: $color-navy; // Use the navy blue color for the message as well

    p a {
      color: $color-navy; // Set the link color to navy blue
      text-decoration: underline;
    }
  }
}

// Adjust the font size of the dropdown
.search-box__dropdown {
  font-size: 1.2rem;
}